/*  Fichier : style.css                                             *
 *                                                                  *
 *  Feuille de style de l'exercice sur le formulaire d'inscription  *
 *                                                                  *
 *  @see ../HTML/inscription.html              						*
 *	@see ../administration.php										*
 ********************************************************************/


		/*  Balises    */
   

a{
    display: block;
    width: 200px;
    text-align: center;
}
input{
    position: relative;
    margin-top: 10px;
}
table, th, td{
	border : thin solid #bbbbbb;
}

		/*  Id  */


#enregistrement{
    color : gray;
}
#formulaire{
	width:600px;
    margin: 100px auto;
}
#lien{
    position: relative;
    top: 10px;
}
#texte{
	width: 200px;
    font-weight: bold;
    font-size: large;
    top: 10px;
    text-align: center;  
}
#table_inscription{
	width: 600px;
	margin : 100px auto;	
}


		/*  Classes */


.boutons{
    width: 70px;
    height: 20px;
    margin-left: 20px;
}
.champs{
    width: 200px;
    height: 20px;
    background-color: #ffffdd;
    
}
.notification{
    width: 300px;
	color : red;
	font-weight: bold;
}


		/* Gestion du placeholder selon navigateur   */


input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: gray;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: gray;
   opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: gray;
   opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: gray;
}
input::-ms-input-placeholder { /* Microsoft Edge */
   color: gray;
}
input::placeholder { /* Most modern browsers support this now. */
   color: gray;
}